* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: contain;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.track-text h3 {
  margin-top: 25px;
}
.svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.svg div {
  margin: 8px;
}
.svg .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg .logo .svl-text,
.track-text {
  text-align: center;
  font-size: 18px;
}

.svg .svl {
  width: auto;
  height: 80px;
  margin: 12px;
}
.svgbtn {
  display: flex;
  gap: 10px;
}
button {
  border-radius: 16px;
  padding: 12px;
  color: white;
  text-align: center;
  font-weight: 300;
  border: none;
  margin-top: 20px;
}
.svgbtn .green {
  background-color: hsl(171, 66%, 44%);
}
.svgbtn .blue {
  background-color: hsl(233, 100%, 69%);
}
.svg h3 {
  margin-bottom: 8px;
}
/* this the end  for svg, the first item */

/* the second div */
.computer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 500px;
}
.computer div {
  margin: 10px;
  justify-content: space-between;
}
.computer img {
  height: 350px;
  padding: 10px;
}
.all-comp-text div {
  margin: 18px;
  padding: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.compt-text {
  text-align: center;
  font-size: 18px;
}
.devices {
  display: flex;
  flex-direction: column;
}
.devices div {
  margin: 16px;
  flex: 1;
}
.devices img {
  height: 350px;
  width: auto;
}
.device-text {
  text-align: center;
  font-size: 18px;
}

.all-one {
  display: flex;
  margin: 8px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.one-text {
  flex: 1;
  flex-direction: row;
  text-align: center;
}
.one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom {
  display: flex;
  margin: 8px;
  justify-content: space-around;
  align-items: center;
}
.bottom div {
  display: flex;
  margin: 20px;
}
.clip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clip .clip-text {
  text-align: center;
  font-size: 18px;
}
.ending {
  display: flex;
  background-color: gray;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}
.item-1 img {
  height: 50px;
  width: auto;
}
.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ending div {
  display: flex;
  gap: 10px;
}

ul li {
  display: inline-block;
  margin: 4px;
}
ul li a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}
.bottom {
  gap: 10px;
}
.btm {
  margin-right: 10px;
}
